/* Simple CSS styling for RottenPotatoes app */
/* Add these lines to app/assets/stylesheets/application.css */
 
html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 14pt;
  padding: 5px;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: DarkBlue;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: maroon;
  font-size: 200%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: black;
  color: white;
  border-bottom: 5px solid gold;
  font-size: 2em;
  font-style: normal;
}
p {
    text-align: left;
    color: maroon;
}
.banner {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 250%;
}
li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: Yellow;
    animation-name: example;;
    animation-duration: 4s
}
table#movies {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
#movies tr:nth-child(even){
  background-color: #f2f2f2;
}
#movies tr:hover {
  background-color: #ddd;
}

table#movies th {
  border: 4px solid white;
  font-weight: bold;
  font-size: 16pt;
  color: White;
  background-color: #470066;
}
table#movies th, table#movies td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}
#notice, #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
  color: red;
  text-align: center;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}
img {
  display: block;
    width: 35%;
}
#movieInfo {
  padding: 2ex;
  position: absolute;
  border: 2px double grey;
  background: wheat;
}